@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Notable&family=Roboto+Flex:opsz,wght@8..144,100&family=Roboto:wght@100;300&display=swap');

/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Flex', sans-serif; */

/* font-family: 'Notable', sans-serif; */

h1,
h2,
h3,
h4,
h5,
h6, .m-0 {
  font-family: 'Roboto Flex', sans-serif;;
  color: #fff;
}
body {
    background: #000;
    font-family: 'Roboto Flex', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* --------------------------------------------------------------NAVIGATION STYLING */
.navbar-nav {
   margin-left: auto;
}
.main-nav .navbar-nav .nav-link {
    color: #fff;
}
.main-nav .navbar-nav .nav-link{
    position: relative;
    margin-right: 20px;
    padding: 30px 5px 5px 5px;
}
.main-nav .navbar-nav .nav-link:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: aquamarine;
    transform: scaleX(0);
    transition: transform 0.6s cubic-bezier(0.19,1,0.22,1); 
    transform-origin: left center;
}
.main-nav .navbar-nav .nav-link:hover::after {
    transform: scaleX(1);
}
.navbar {
  background-color: #000;
  box-shadow: 0 0 9px rgba(255,255,255,.6);
}

#mainNav .navbar-toggler {
  font-size: 25px;
  padding: 30px 5px 5px;
  color: #fff;
}
span .navbar-toggler-icon {
 background: transparent;
 color: #fff;   
}
.nav-item a {
  font-size: 20px;
}

/* -----------------------------------------------------------------JUMBOTRON STYLING */
.jumbotron {
    background-color: #000;
    color: #fff;
}
.card-img-pfp {
  width:250;
  height: 300px;
  border-radius: 50%;
  margin: 30px 0 30px 0;
}
.jumbotron span {
  color: aquamarine;
}

/* -----------------------------------------------------------MAIN HERO PROJECT CONTAINER */


/* --------------------------------------------------------------PROJECT CONTAINER STYLING */
.container .row {
    color: #fff;
    /* border: #fff dashed 1px; */
}
.card-img-top img {
    width: 286px;
    height: 225px;
}
.card-img-top img {
  width: 286px;
  height: 225px;
}
.card-body img.card-img-top {
  border: aquamarine solid 2px;
}
.card {
  background: #000;
}
.m-0 {
  margin: 50px !important;
}
h4 {
  font-size: 20px !important;
}
.contact-section bg-black h1 {
  color: #fff;
}
.btn {
  margin-top: 20px;
}
.text-white-50 {
color: aquamarine !important;
}
.small {
  font-size: 15px !important;
}

/* ----------------------------------------------------------SKILLS SECTION STYLING  */
#skills{
  padding-top: 80px;  
 }
 #skills h1 {
  margin: 20px 0 50px 0;
 }
.jumbotron-fluid {
  margin: 0;
  padding-top:64px;
  padding-bottom: 0;
}
.jumbotron-fluid .container {
  height: 300px;
}
.progress-title{
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 10px;
}
.progress{
    height: 30px;
    background: #fff;
    border-top: 5px solid rgb(198, 197, 197);
    border-bottom: 5px solid rgb(198, 197, 197);
    border-radius: 0;
    margin-bottom: 25px;
    overflow: visible;
    position: relative;
}
.progress:before,
.progress:after{
    content: "";
    width: 5px;
    background: rgb(198, 197, 197);
    position: absolute;
    top: 0;
    left: -5px;
    bottom: 0;
}
.progress:after{
    left: auto;
    right: -5px;
}
.progress-bar1{
  background-color:#D55125
}
.progress-bar2{
  background-color:#12E0F4
}
.progress-bar3{
  background-color:#0CB880
}
.progress-bar4{
  background-color:#C7A206
}
.progress-bar5{
  background-color:#7043AA
}
.progress .progress-bar1, .progress-bar2, .progress-bar3, .progress-bar4, .progress-bar5{
    border: none;
    box-shadow: none;
    -webkit-animation: 2s linear 0s normal none infinite running progress-bar-stripes,animate-positive 1s;
    animation: 2s linear 0s normal none infinite running progress-bar-stripes,animate-positive 1s;
}
@-webkit-keyframes animate-positive{
    0%{ width: 0; }
}
@keyframes animate-positive{
    0%{ width: 0; }
}

/* -----------------------------------------------------CONTACT SECTION STYLING  */
.contact-section {
    padding-top: 80px;
  }
 #contact .container h1 {
  text-align: center;
 }

 .my-4 {
  border-width: 1px !important;
  width: 100% !important;
  border-color: #fff !important;
 }
 .m-0 {
  margin: 50px 10px !important;
 }
.contact-section bg-black {
  border-bottom: aquamarine solid 2px;
}
#contact .btn  {
  background-color: aquamarine;
}
#contact .card-body {
  margin-bottom: 50px;
}
#contact {
  margin-top: 80px;
}
.text-center a.btn {
  margin-bottom: 50px;
  margin-left: 20px;
  color: #000;
}
.list-unstyled {
  margin-left: 50px;
}
form {
  margin:0 20px
}
.contact-info {
  color: #fff;
}
.contact-info:hover {
  color:#D55125
}
  /* FOOTER SECTION STYLING  */

   /* -------------------------------------------------------SOCIAL ICON SECTION STYLING  */
 footer .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  border: aquamarine solid 0.5px;
  border-radius: 100%;
  line-height: 3rem;
  color: #fff;
  margin-bottom: 20px;
}
  footer {
    margin-top: 80px;
    padding: 120px 0 50px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    background-color: rgb(70, 69, 69);
    box-shadow: 0 0 35px #fff ;
  }
  
  footer p {
    font-size: 13px;
    margin: 0;
  }
  
  footer ul {
    margin-bottom: 0;
  }
  footer .mx-2:hover {
    box-shadow: 0 0 25px rgba(255,255,255,.6);
  }