@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Notable&family=Roboto+Flex:opsz,wght@8..144,100&family=Roboto:wght@100;300&display=swap');

/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Flex', sans-serif; */

/* font-family: 'Notable', sans-serif; */

h1,
h2,
h3,
h4,
h5,
h6, .m-0 {
  font-family: 'Roboto Flex', sans-serif;;
  color: #fff;
}
body {
    background: #000;
    font-family: 'Roboto Flex', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* NAVIGATION STYLING */
.navbar-nav {
   margin-left: auto;
}
.main-nav .navbar-nav .nav-link {
    color: #fff;
}
.main-nav .navbar-nav .nav-link{
    position: relative;
    margin-right: 20px;
    padding: 30px 5px 5px 5px;
}
.main-nav .navbar-nav .nav-link:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: aquamarine;
    transform: scaleX(0);
    transition: transform 0.6s cubic-bezier(0.19,1,0.22,1); 
    transform-origin: left center;
}
.main-nav .navbar-nav .nav-link:hover::after {
    transform: scaleX(1);
}
.navbar-expand-lg .navbarNav{
    background-color: #000;
}
/* button .navbar-toggler-icon {
    border: #fff solid 1px;
} */
#mainNav .navbar-toggler {
  font-size: 25px;
  padding: 30px 5px 5px;
  color: #fff;
}
span .navbar-toggler-icon {
 background: transparent;
 color: #fff;   
}

/* JUMBOTRON STYLING */
.jumbotron {
    background-color: #000;
    color: #fff;
}

/* MAIN HERO PROJECT CONTAINER */


/* PROJECT CONTAINER STYLING */
.container .row {
    color: #fff;
    /* border: #fff dashed 1px; */
}
.card-img-top img {
    width: 286px;
    height: 225px;
}
/* img.card-img-top {
  border: aquamarine dashed 2px;
} */
.card {
  background: #000;
}
.m-0 {
  margin: 50px !important;
}
h4 {
  font-size: 20px !important;
}
.contact-section bg-black h1 {
  color: #fff;
}



/* CONTACT SECTION STYLING  */
.contact-section {
    padding-top: 5rem;
  }
  .contact-section .card {
    border: 0;
    border-bottom: 0.25rem solid #fff;
  }
  .contact-section .card h4 {
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
  }
  .contact-section .card hr {
    border-color: #64a19d;
    border-width: 0.25rem;
    width: 3rem;
  }
  .contact-section .social {
    margin-top: 5rem;
  }
  .contact-section .social a {
    text-align: center;
    height: 3rem;
    width: 3rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    line-height: 3rem;
    color: rgba(255, 255, 255, 0.3);
  }
  .contact-section .social a:hover {
    color: rgba(255, 255, 255, 0.5);
  }
  .contact-section .social a:active {
    color: #fff;
  }
 .my-4 {
  border-width: 1px !important;
  width: 100% !important;
  border-color: #fff !important;
 }
 .m-0 {
  margin: 50px 10px !important;
 }
.contact-section bg-black {
  border-bottom: aquamarine solid 2px;
}
 /* SKILLS SECTION STYLING  */

 #skills {
  margin: 50px;
  padding-bottom: 50px;
  
 }
 #skills h1 {
  width: 90px;
  /* padding: 50px 0; */
  margin: 20px 0 50px 0;
 }
.jumbotron-fluid {
  margin: 0;
  padding-top:64px;
  padding-bottom: 0;
}
.jumbotron-fluid .container {
  height: 300px;
}
.progress {
  height: 50px;
  
  padding: 2px 0;
  background: #000;
}
.progress-bar {
  background: aquamarine;
  color: #000;
  text-align: left;
  padding-left: 30px;
  border-radius: 50px 50px 50px 50px;
  font-family:  'Notable', sans-serif;
  font-weight: 100;
  
}


 /* SOCIAL ICON SECTION STYLING  */
 .contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: aquamarine;
  border-radius: 100%;
  line-height: 3rem;
  color: #000;
}
  /* FOOTER SECTION STYLING  */

  footer {
    padding: 25px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    background-color: #000;
  }
  
  footer p {
    font-size: 12px;
    margin: 0;
  }
  
  footer ul {
    margin-bottom: 0;
  }